* { 
    margin: 0px;
    padding: 0px;
}
html {
    color: -internal-root-color; 
}

ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body { 
    color: #767676;
    background: #fff;
    overflow-x: hidden;
    font-family: 'Montserrat',Helvetica,Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    line-height: 1.2;
    color: #2c2c2c;;
    font-style: normal;
    text-transform: capitalize;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.wrap-layout {
    width: 100%;
    float: left;
}

.wp-main {
    padding:20px 0;
    background: #f7f7f7;
}

.wp-userlisting-breadcrumb {
    float: left;
    width: 100%;
    line-height: 15px;
}

.wp-userlisting-breadcrumb li:first-child {
    padding-left: 0;
}

.wp-userlisting-breadcrumb li {
    width: auto;
    padding: 0 12px;
    line-height: inherit;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}
.wp-userlisting-breadcrumb li span, .wp-userlisting-breadcrumb li a {
    display: block;
    color: #767676;
    font-size: 13px;
    line-height: inherit;
}


.wp-userlisting-breadcrumb li + li {
    border-left: 1px solid #ddd;
}

.wp-section { padding: 80px 0; }

.wp-featured {    
    background: #fffdf3;
    position: relative;
    overflow: hidden;
}

.sidebar{
    background: #fff;
    z-index: 3000;
    height: auto;
    width: auto;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.05);
    left: 0;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    z-index: 40000;
}

.divider {
    width: 100%;
    position: relative;
    display: block;
    margin: 15px 0;
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.widget {     
    float: left;
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
}

.body-content {
    width:100%;
    background: #fff;
    border-radius: 4px;
    padding:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.05);
}

.wg-title {
    padding-top: 17px;
    padding-bottom: 17px;
}

.wg-title h2 {
    margin: 0;
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.wg-content {
    float: left;
    width: 100%;
}

.wg-content {
   width:100%;
   float:left;
}

.wg-form  {
    height:240px;
}

.wp-list + .task-list {
    margin: 20px 0 0;
}

.wp-list{
    float: left;
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}

.wp-list:hover {
  -webkit-box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.25);
       box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.25);
 
}
.task-list {
    background: #fffdf3;
    position: relative;
    overflow: hidden;
}

.wp-content { overflow: hidden }

.wp-contenthead {     float: left;
    width: auto;
    max-width: 420px;
}

.wp-contenthead h2 {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.wp-description { width:100%; float:left}

.wp-description p { 
    font-size: 14px;
    line-height: 24px;
}


.wg-form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    position: relative;
}


.list-group .list-group-item {
    padding-left: 0;
    padding-right: 0;
}

.list-group-item {
    line-height: 1;
}

.list-group-item:first-child {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}



.bullet-cadastro {
    background-color: #17a2b8;
    color:white;
}

.bullet-prefeituras {
    background-color: #ffcc00;
}

.bullet-movimento {
    background-color: red;
}

.bullet-processo-eletronico {
    background-color: blue;
}

.bullet-exportacao {
    background-color: green;
}
.bullet-faturas {
    background-color: palevioletred;
}

.bullet-distribuicao{
    background-color: burlywood;
}

.bullet-cliente {
    background-color: #767676;
    color:white;
}

.bullet {
    width: 1rem;
    height: 1rem;
}

.bullet {
    border-radius: 50%;
    display: inline-block;
}

.mr-1, .mx-1 {
    margin-right: 1rem!important;
}

.wt-featuredtag {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    border-right: 40px solid transparent;
}

.wt-featured-cadastro {
    background-color: #17a2b8;
}

.wt-featured-movimento {
    border-top: 40px solid red;
}

.wt-featured-cliente {
    border-top:40px solid #767676;
}

.wt-featured-prefeituras {
    border-top:40px solid #f3f3f3;
}
.wt-featuredtag img {
    max-width: 40px;
    margin: -85px 4px 0;
    border: 0;
}

.wp-filterholder {
    float: left;
    width: 100%;
    margin: 0 0 30px;
}

.wp-filtertag {
    float: left;
    width: 100%;
    margin: -2px 0;
    list-style: none;
    line-height: 29px;
}

.wp-filtertag li {
    opacity: 1;
    float: left;
    width: auto;
    margin: 2px 0;
    padding: 0;
    border-radius: 0;
    line-height: inherit;
    list-style-type: none;
}

.wp-filtertag li.wp-filtertagclear {
    margin-right: 20px;
}

.wp-filtertag li + li {
    margin-left: 5px;
}

.wp-filtertag li a {
    display: block;
    font-size: 12px;
    padding: 0 13px;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid #ddd;
}

.wp-filtertag li i {
    margin-top: 7px;
    margin-left: 3px;
    font-size: 14px;
}




#todo .list-item { transition: background-color .2s,transform .2s,-webkit-transform .2s; padding-left: 1rem !important;
    padding-right: 1rem !important;  width:100%}

#todo .vx-row { display: flex;
    flex-wrap: wrap;
    margin: 0px 0.2px; }
h6.todo-title { margin-top:5px;}
    .vx-row .tag {     background: #f0f0f0;
        border-radius: 20px;
        float: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: .7rem;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-right: 2px;
        margin-bottom: 3px;
        min-height: 28px;
        padding: 0 10px;
        color: rgba(0,0,0,.7);
        position: relative; margin-left: 5px; 
    }

     .w-2{   width: .5rem!important; }
     .mr-1 {     margin-right: .25rem!important;
     } 
     .h-2 {     height: .5rem!important;
     } 
     .rounded-full {border-radius: 9999px!important; }

     .py-4 {
        padding-top: 0.5rem!important;
        padding-bottom: 0.5rem!important;
    }

    #todo li { border-bottom: 1px solid #dae1e7}
    #todo li:nth-child(1n) { background: #fff; }
    #todo li:nth-child(2n) { background: #fafafa;}

    .wp-userlisting-breadcrumb li {background: none !important; border-bottom: 0px !important}

    .footer { background: #fefefe; clear:both; display:block; padding:10px 0; width:100%; border-top: 1px solid #fafafa; font-size: 12px; width:100% }
    .footer span { margin-left: 10px; }